*.apk
*.iml
.gradle
.idea
.kotlin
.vscode
.DS_Store
build
*/bin/
*/build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata/
Pods/
*.jks

*.py[cod]
*.pyo
.venv/
venv/
*.egg-info/
dist/
*.log
